.safe-pages {
  position: relative;

  .intro-section {
    @include media-breakpoint-down(md) {
      padding-top: 23rem;
    }
  }

  .back-link {
    display: block;
    position: relative;
    z-index: 2;
  }

  .intro-text {
    position: relative;
    z-index: 10;

    .h1 {
    }
  }
  .balloon-holder {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 101.5rem;

    img {
      width: 100%;
      height: auto;
    }
  }
}
