.safe-pages {
  .intro-section {
    position: relative;
    margin-bottom: 14rem;
    @include media-breakpoint-down(md) {
      padding-top: 23rem;
      margin-bottom: 0;
    }
  }

  .back-link {
    display: block;
    position: relative;
    z-index: 2;
    @include media-breakpoint-down(md) {
      top: -130px;
    }
  }

  .intro-text {
    position: relative;
    z-index: 10;
  }

  .balloon-holder {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 101.5rem;

    img {
      width: 100%;
      height: auto;
    }
  }

  .anonymous {
    position: relative;
    padding-top: 0;
    padding-bottom: 0;
    max-width: 1240px;
    margin: auto;
    margin-bottom: 15rem;
    margin-top: 65px;
    height: 55rem;
    @include media-breakpoint-down(md) {
      margin-top: 4.8rem;
      margin-bottom: 10rem;
    }
    @include media-breakpoint-down(md) {
      margin-bottom: 7rem;
    }
    .container {
      padding-right: 0;
    }
    .img-holder {
      position: absolute;
      right: 0;
      bottom: 0;
      width: 120.5rem;
      img {
        width: 100%;
        height: auto;
      }
      @include media-breakpoint-down(md) {
        width: 80rem;
        bottom: -10rem;
      }
    }
    .protection {
      position: absolute;
      right: 0;
      bottom: 0;
      width: 120.5rem;
      img {
        width: 100%;
        height: auto;
      }
      @include media-breakpoint-down(md) {
        width: 34rem;
      }
    }
  }

  .anonymous-text {
    padding-top: 12rem;
    justify-content: center;
    @include media-breakpoint-down(md) {
      padding-top: 8rem;
      justify-content: flex-start;
      position: relative;
      z-index: 4;
    }

    p {
      margin-bottom: 35px;
    }
    .content-holder {
      z-index: 10;
    }
  }
  .get-in {
    .text-holder {
      padding-bottom: 24rem;
      @include media-breakpoint-down(md) {
        padding-bottom: 12rem;
      }
      .h3 {
        text-align: center;
        font-size: 4rem;
        margin-bottom: 4rem;
      }

      .btn {
        margin: auto;
        display: flex;
        justify-content: center;
        max-width: 30rem;
      }
    }
  }

  .awareness {
    .awareness-wrapper {
      margin: 10rem auto 6rem;
      max-width: 124rem;
      background-color: #efefef;
      padding: 6rem 8rem;
      @include media-breakpoint-down(md) {
        padding: 4rem 4rem;
        margin: 4rem auto;
      }
      @include media-breakpoint-down(sm) {
        padding: 4rem 2rem;
        margin: 2rem auto;
      }
    }

    .content-wrap {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      @include media-breakpoint-down(lg) {
        flex-direction: column;
        align-items: flex-start;
      }
    }
    .h1 {
      font-size: 3rem;
      text-transform: capitalize;
      margin-bottom: 3.6rem;
      @include media-breakpoint-down(sm) {
        font-size: 2.4rem;
      }
    }

    li {
      font-size: 2.4rem;

      @include media-breakpoint-down(sm) {
        font-size: 1.8rem;
      }
    }
    li:nth-child(2) {
      @include media-breakpoint-down(lg) {
        margin-bottom: 5rem;
      }
    }
  }

//   .train {
//     .train-wrapper {
//       width: 144rem;
//       margin: auto;
//       display: flex;
//       justify-content: center;
//       align-items: flex-end;
//       background-color: #efefef;
//       padding-top: 19.5rem;

//       .h1 {
//         font-size: 4rem;
       
//       }
//       .train-text {
//         margin: auto;
//         max-width: 60rem;
//       }
//       .train-button {
//         margin: auto;
//         display: flex;
//         justify-content: center;
//       }
//     }
//   }

.train {
    .train-wrapper {
        width: 144rem;
        margin: 0 auto;
        background-color: #efefef;
    }

    .train-text {
        max-width: 79rem;
    }
}
}
