.mood-section {
  position: relative;
  padding-top: 15rem;
  overflow-x: hidden;

  @include media-breakpoint-down(md) {
    padding-top: 5.4rem;
    padding-bottom: 2.3rem;
  }

  .inner-holder {
    position: relative;
  }

  .figure {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
  }
  .container {
    position: relative;
  }

  .blocks-holder {
    position: relative;
    display: grid;
    // grid-template-columns: repeat(3, 1fr);
    // max-width: 1000px;
    // overflow: auto;
    // margin: auto;
    // overflow-y: auto;
    max-width: 100rem;
    margin: auto;
    display: flex;
    justify-content: center;
    margin-bottom: 5.5rem;

    @include media-breakpoint-down(md) {
      margin-left: -7rem;
      margin-right: -6rem;
      margin-bottom: 2.5rem;
    }
  }

  .img {
    img {
      width: 100%;
      height: auto;
      object-fit: contain;
    }
  }

  .wrapper {
    position: relative;
  }

  .inner {
    max-width: 180px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    z-index: 1;
  }

  .h3 {
    text-transform: uppercase;
    font-size: 1.5rem;
  }

  .strong {
    max-width: 250px;
    font-weight: 800;
    color: green;
  }

  .block {
    margin: 0 auto;
    @include media-breakpoint-down(md) {
      min-width: 23rem;
    }

    img {
      @include media-breakpoint-down(md) {
        width: 100%;
        height: auto;
      }
    }

    &:first-child {
      width: 100%;
      max-width: 30rem;
      align-self: center;
      @include media-breakpoint-down(md) {
        max-width: 18.2rem;
      }
    }

    &:nth-child(2) {
      width: 100%;
      max-width: 33rem;

      z-index: 50;
      @include media-breakpoint-down(md) {
        min-width: 19rem;
        align-self: center;
      }
    }
    &:last-child {
      max-width: 30rem;
      width: 100%;
      align-self: center;

      @include media-breakpoint-down(md) {
        min-width: 18rem;
      }
    }
  }

  .title-m {
    display: none;
    @include media-breakpoint-down(md) {
      display: block;
      font-size: 4rem;
      text-align: center;
      margin: auto;
      margin-bottom: 20px;
    }
  }

  .h1 {
    font-size: 4rem;
    text-align: center;
    margin: auto;
    margin-bottom: 20px;
    @include media-breakpoint-down(md) {
      display: none;
    }
  }

  .txt {
    max-width: 60rem;
    text-align: center;
    margin: auto;
  }
}
