.services-project {
	.intro-section {
		background: linear-gradient(265.59deg, #5d90c6 0.16%, #c0cfee 76.73%);

		@include media-breakpoint-down(md) {
			background: linear-gradient(189.54deg, #5d90c6 -14.43%, #c0cfee 95.18%);
		}

		.back-link {
			display: inline-flex;
			align-items: center;
			font-size: 1.8rem;
			line-height: 1;

			&:hover {
				.icon-holder {
					transform: translateX(-0.5rem);
				}
			}

			.icon-holder {
				display: inline-flex;
				max-width: 1.6rem;
				margin-right: 1rem;
				transition: $transition;

				img {
					width: 100%;
					height: auto;
				}
			}
		}
	}
}
