.services-page {
  .intro-section {
    overflow: hidden;

    @include media-breakpoint-down(md) {
      padding-bottom: 4rem;
    }

    .h1 {
      @include media-breakpoint-up(md) {
        margin-bottom: 3rem;
      }
    }

    .text-holder {
      &.mobile {
        @include media-breakpoint-up(md) {
          max-width: 29.7rem;
        }
      }
    }

    .watch-holder {
      position: relative;
      max-width: 50rem;

      @include media-breakpoint-down(md) {
        align-self: center;
        margin-bottom: 3.7rem;
        right: -7%;
      }

      img {
        width: 100%;
        height: auto;
      }

      .watch-shadow {
        position: absolute;
        bottom: -2rem;
        left: 50%;
        transform: translateX(-50%);
        width: 80%;
        height: auto;
      }

      .msg-holder {
        position: absolute;
        max-width: 50%;

        &.hld-1 {
          top: 19%;
          left: -12%;
        }

        &.hld-2 {
          bottom: 30%;
          right: 5%;
        }
      }
    }
  }

  .services-section {
    padding-top: 15rem;
    padding-bottom: 19.7rem;

    @include media-breakpoint-down(md) {
      padding-top: 5rem;
      padding-bottom: 0;
    }

    .h1 {
      display: none;
    }
  }
}
