@keyframes rotate-opacity {
  from {
    opacity: 0;
    transform: rotate(0);
  }

  to {
    opacity: 1;
    transform: rotate(180deg);
  }
}

@keyframes opacity {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes translateXopacity {
  from {
    width: 0;
    opacity: 0;
    transform: translateX(50%);
    padding-left: 0;
  }
  to {
    width: 100%;
    opacity: 1;
    transform: translateX(0);
  }
}



@keyframes translateYopacity {
  from {
    width: 0;
    opacity: 0;
    transform: translateY(50%);
    padding-left: 0;
  }

  to {
    width: 100%;
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes swing {
  0% {
    transform: rotateZ(0deg) translate(0, 0);
  }

  20% {
    transform: rotateZ(10deg) translate(5px, -2px);
  }

  40% {
    transform: rotateZ(-10deg) translate(-5px, 2px);
  }

  60% {
    transform: rotateZ(11deg) translate(4px, -1px);
  }

  80% {
    transform: rotateZ(0deg) translate(0px, 0px);
  }
}

@keyframes mouse-scroll {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

@keyframes menuAnimation {
  0% {
    opacity: 0;
    transition: .6s;
    transform: translate(2000px, 0px);
  }

  100% {
    opacity: 1;
    transform: translate(0px, 0);
  }
}

// @keyframes transformX {
//   0% {
//     transform: translateX(100%);
//   }

//   100% {
//     transform: translateX(0%);
//   }
// }

@keyframes transformX10 {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(10px);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes transformX-10 {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(-10px);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes transformY10 {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes transformY-10 {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}