$app-transition-time-low: 0.3s;
$app-transition-time-middle: 0.6s;
$app-transition-time-strong: 0.9s;
$app-font-family-saira: "Saira",
sans-serif;

// colors:
$white: #ffffff;
$black: #000;
$light-black: #262626;
$yellow: #FFD027;
$gray: #FFFCFF;



// media breakpoints
$mobile: 500px;
$mobile-md: 375px;
$mobile-sm: 320px;
$tablet: 768px;
$tablet-l: 1024px;
$desktop: 1280px;
$desktop-md: 1440px;
$desktop-lg: 1600px;