@import "../../variables.scss";


.header {
    padding: 50px 8%;
    z-index: 90;


    .nav {

        ul {
            li {
                a {
                    font-family: $app-font-family-saira;
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 28px;
                    color: $black;
                }
                &:not(:last-child) {
                    margin-right: 50px;
                }
            }
        }
    }
}