.services-section {
  overflow: hidden;

  .h1 {
    margin-bottom: 10rem;

    @include media-breakpoint-down(md) {
      margin-bottom: 4.2rem;
    }
  }

  .rows {
    @include media-breakpoint-down(md) {
      margin-left: -2.4rem;
      margin-right: -2.4rem;
    }
  }

  .row {
    @include media-breakpoint-down(lg) {
      position: relative;
    }

    &:not(:last-child) {
      margin-bottom: 20rem;

      @include media-breakpoint-down(lg) {
        margin-bottom: 4rem;
      }
    }

    &:nth-child(2n) {
      flex-direction: row-reverse;

      .col-txt {
        @include media-breakpoint-up(lg) {
          align-items: flex-end;
        }
      }

      .gradient-block {
        background: linear-gradient(189.54deg, #5d90c6 -14.43%, #c0cfee 95.18%);

        @include media-breakpoint-up(lg) {
          margin-right: 0;
          margin-left: -8rem;
          background: linear-gradient(
            286.81deg,
            #5d90c6 -8.28%,
            rgba(68, 98, 129, 0) 103.99%
          );
        }
      }
    }

    .gradient-block {
      overflow: hidden;
      background: linear-gradient(389.54deg, #5d90c6 -14.43%, #c0cfee 95.18%);

      @include media-breakpoint-up(lg) {
        min-height: 40rem;
        max-height: 40rem;

        margin-right: -8rem;
        background: linear-gradient(
          106.81deg,
          #5d90c6 -8.28%,
          rgba(68, 98, 129, 0) 103.99%
        );
      }

      @include media-breakpoint-down(lg) {
        position: absolute;
        width: 100%;
        height: 100%;
      }
    }

    .item-number {
      display: block;
      margin-bottom: 3.2rem;
      font-size: 3rem;

      @include media-breakpoint-down(md) {
        margin-bottom: 1.8rem;
        font-size: 2rem;
      }
    }

    .h2 {
      margin-bottom: 5.4rem;
    }

    .punching-bag {
      max-width: 40rem;

      @include media-breakpoint-down(lg) {
        position: absolute;
        max-width: 35rem;
        right: -4rem;
      }
    }

    img {
      width: 100%;
      height: auto;
    }

    .phone-holder {
      position: relative;
      // max-width: 25.1rem;

      @include media-breakpoint-up(lg) {
        bottom: -5.4rem;
      }

      @include media-breakpoint-down(lg) {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        max-width: 32.7rem;
        width: 90%;
      }

      img {
        &.desktop {
          @include media-breakpoint-down(lg) {
            display: none;
          }
        }

        &.mobile {
          display: none;

          @include media-breakpoint-down(lg) {
            display: block;
          }
        }
      }

      .msg-holder {
        position: absolute;

        &.msg-1 {
          max-width: 17.1rem;
          top: 3.5rem;
          left: -25%;

          @include media-breakpoint-down(md) {
            max-width: 70%;
          }
        }

        &.msg-2 {
          max-width: 20.1rem;
          top: 17.9rem;
          right: -25%;

          @include media-breakpoint-down(md) {
            max-width: 90%;
            top: 49%;
          }
        }
      }
    }

    .building-wrapper {
      @include media-breakpoint-up(lg) {
        margin-left: -8rem;
      }
    }

    .building-holder {
      position: relative;
      // max-width: 24.9rem;
      z-index: 1;

      @include media-breakpoint-up(lg) {
        right: -5rem;
      }

      @include media-breakpoint-down(lg) {
        position: absolute;
        top: 12rem;
        right: 0;
        max-width: 47rem;
      }

      .cloud-holder {
        position: absolute;
        z-index: -1;

        &.hld-1 {
          top: 4rem;
          left: -30%;
          max-width: 21.6rem;

          @include media-breakpoint-down(lg) {
            max-width: 19.9rem;
          }
        }

        &.hld-2 {
          max-width: 36.6rem;
          top: 10rem;
          right: -70%;

          @include media-breakpoint-down(lg) {
            max-width: 32.2rem;
          }
        }
      }
    }

    .imac-wrapper {
      @include media-breakpoint-down(lg) {
        position: absolute;
        top: 50%;
        right: -12rem;
        transform: translateY(-50%);
      }
    }

    .imac-holder {
      position: relative;
      max-width: 50rem;

      @include media-breakpoint-down(lg) {
        max-width: 48.8rem;
      }

      .iphone-holder {
        position: absolute;

        &.hld-1 {
          left: 4rem;
          bottom: 6rem;
          max-width: 9.3rem;

          @include media-breakpoint-down(lg) {
            max-width: 18.5%;
          }
        }

        &.hld-2 {
          left: 10rem;
          bottom: 3rem;
          max-width: 10.4rem;

          @include media-breakpoint-down(lg) {
            max-width: 20.9%;
          }
        }
      }
    }

    .col-txt {
      position: relative;
      display: flex;
      flex-direction: column;
      z-index: 1;

      @include media-breakpoint-up(lg) {
        justify-content: center;
        align-items: flex-start;
      }

      @include media-breakpoint-down(lg) {
        padding: 4.5rem 2.4rem 4rem 2.4rem;
        min-height: 65rem;
      }

      .content-holder {
        @include media-breakpoint-down(lg) {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          flex: 1;
        }
      }

      .text-holder {
        display: none;
      }

      .h2 {
        @include media-breakpoint-down(lg) {
          flex: 1;
        }
      }
    }
  }

  .btn-holder {
    display: none;
    justify-content: center;
    padding-top: 13rem;
    padding-bottom: 9rem;
  }

  &.w-btn {
    .btn-holder {
      @include media-breakpoint-up(md) {
        display: flex;
      }
    }
  }

  &.items-wtext {
    .col-txt {
      @include media-breakpoint-down(lg) {
        min-height: 81.2rem;
      }

      @include media-breakpoint-up(lg) {
        margin-top: -7rem;
      }

      .item-number {
        margin-bottom: 1.7rem;
      }

      .h2 {
        margin-bottom: 2rem;
      }

      .text-holder {
        display: block;
        max-width: 45rem;
        margin-bottom: 4rem;
        font-size: 1.8rem;
        line-height: 1.6;

        @include media-breakpoint-down(md) {
          margin-bottom: 5rem;
          font-size: 1.4rem;
        }
      }
    }

    .imac-wrapper {
      @include media-breakpoint-down(lg) {
        top: 20%;
        transform: translateY(0);
      }
    }
  }
}
