.trusted-section {
	padding-top: 15rem;
	padding-bottom: 11.8rem;
	// margin-bottom: 10rem;
	background: $alabaster;

	@include media-breakpoint-down(md) {
		padding-top: 7rem;
	}

	.h2 {
		margin-bottom: 8rem;

		@include media-breakpoint-down(md) {
			margin-bottom: 4rem;
		}
	}

	.row {
		> div[class^="col-"] {
			margin-bottom: 7.2rem;
		}
		flex-wrap: wrap;
	}

	.img-holder {
		// max-width: 19.3rem;
		margin: auto;
		
		@include media-breakpoint-down(md) {
			max-width: 9.8rem;
		}

		// img {
		// 	width: 100%;
		// 	height: auto;
		// }
	}
}
