.about-page {
	.intro-section {
		.diving-suit {
			max-width: 41.3rem;
			margin: auto;

			@include media-breakpoint-down(md) {
				margin: auto auto 5.2rem;
			}

			img {
				width: 100%;
				height: auto;
			}
		}

		.h1 {
			@include media-breakpoint-up(md) {
				margin-bottom: 3.2rem;
			}

			@include media-breakpoint-down(md) {
				margin-bottom: 5.2rem;
			}
		}

		.btn-arrow {
			margin-top: 6.8rem;

			@include media-breakpoint-down(md) {
				margin-top: 3.6rem;
			}
		}
	}

	.title-section {
		padding-top: 14rem;
		padding-bottom: 8rem;

		@include media-breakpoint-down(md) {
			padding-top: 7rem;
			padding-bottom: 5rem;
		}
	}

	.txt-block {
		&.style1 {
			padding-bottom: 17.4rem;

			@include media-breakpoint-down(md) {
				padding-bottom: 7.9rem;
			}
		}

		&.style2 {
			padding-bottom: 15rem;

			@include media-breakpoint-down(md) {
				padding-bottom: 7.9rem;
			}
		}
	}
}
