.statistic-section {
  padding-top: 12.6rem;
  padding-bottom: 10rem;

  @include media-breakpoint-down(md) {
    padding-top: 10rem;
    padding-bottom: 5rem;
  }

  @include media-breakpoint-up(xl) {
    overflow: hidden;
  }

  .row {
    @include media-breakpoint-up(xl) {
      @include grid-gutter(13rem);
    }
  }

  .statistic-item {
    margin-bottom: 5rem;

    h3 {
      font-weight: 500;
      font-size: 3.2rem;
      line-height: 1;

      @include media-breakpoint-down(lg) {
        text-align: center;
        font-size: 2.4rem;
      }
    }

    .text-holder {
      max-width: 33.2rem;
      font-size: 1.6rem;
      line-height: 1.6;

      @include media-breakpoint-down(lg) {
        margin: auto;
        text-align: center;
      }
    }
  }
}
