.ww-section {
	padding-top: 7.7rem;
	padding-bottom: 7.7rem;
	color: $tutu;
	background: $mine-shaft;

	@include media-breakpoint-down(md) {
		padding-top: 13rem;
		padding-bottom: 5.4rem;
	}

	.h2 {
		margin-bottom: 1rem;

		@include media-breakpoint-down(md) {
			margin-bottom: 2rem;
		}
	}

	.text-holder {
		margin-bottom: 7.7rem;
		max-width: 57rem;
		font-size: 1.8rem;
		line-height: 1.8;

		@include media-breakpoint-down(md) {
			font-size: 1.4rem;
			line-height: 1.6;
		}
	}

	.row {
		& > [class^="col"] {
			position: relative;

			&:not(:last-child) {
				&::after {
					@include media-breakpoint-up(sm) {
						content: "";
						position: absolute;
						top: 50%;
						right: 0;
						transform: translateY(-50%);
						width: 0;
						height: 64.9%;
						border-right: 0.1rem solid rgba($white, 0.5);
					}
				}
			}

			&:nth-child(2) {
				&::after {
					@include media-breakpoint-down(lg) {
						display: none;
					}
				}
			}
		}
	}

	.ww-item {
		margin-bottom: 4.6rem;
		font-size: 1.6rem;
		line-height: 1.8;

		@include media-breakpoint-down(md) {
			font-size: 1.4rem;
		}

		@include media-breakpoint-down(sm) {
			display: flex;
			align-items: center;
		}

		@include media-breakpoint-up(sm) {
			text-align: center;
		}

		.item-digit {
			display: block;
			font-weight: 500;
			font-size: 9rem;
			line-height: 1.56;
			color: $celery;

			@include media-breakpoint-down(md) {
				font-size: 4.5rem;
			}

			@include media-breakpoint-down(sm) {
				min-width: 12rem;
				margin-right: 1.3rem;
			}
		}

		.item-title {
			display: block;
			font-weight: 500;
			font-size: 1.8rem;
			line-height: 1;
			color: $celery;
			text-transform: uppercase;

			@include media-breakpoint-down(md) {
				font-size: 1.6rem;
			}

			@include media-breakpoint-down(sm) {
				margin-bottom: 0.3rem;
			}
		}

		.item-text {
			@include media-breakpoint-down(sm) {
				line-height: 1.2;
			}

			p {
				@include media-breakpoint-down(sm) {
					margin-bottom: 0;
				}
			}
		}
	}
}
