.home-page {
  .intro-section {
    overflow: hidden;
    @include media-breakpoint-up(md) {
      min-height: 80.12rem;
    }

    .img-holder {
      max-width: 65.5rem;
      position: relative;

      @include media-breakpoint-down(md) {
        transform: translateX(20%);
      }

      .earth,
      .info {
        position: absolute;
        left: 0;
      }
    }
  }
}
